*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background-color:rgb(26, 24, 24);
  color:#f5deb3;
  padding: 0 2%;
  font-size: 1.1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow-x: hidden;
}
.navbar-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 32, 32);
  box-shadow: 0 4px 8px #008080;
  padding: 0 3%;
  position: sticky;
  top: 0;
  left:0;
  right: 0;
  z-index: 1000; 
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

ul li {
  list-style-type: none;
}

 a {
  color: #008080;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: goldenrod;
}
.port {
  font-size: 2rem;
  color: #fff;
  background: url('https://images.pexels.com/photos/1058367/pexels-photo-1058367.jpeg?auto=compress&cs=tinysrgb&w=600') center; 
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  to{
    background-position: -200px 0;
  }
}

.menu{
  display:none;
  color:#008080;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  opacity: 0;
  transform: translateY(-20px);
  text-align: center;
  margin-top: 20px;
  animation: fadeInSlide 1.5s ease-in forwards 3s;
}

@keyframes drop {
    0% { transform: translateY(-100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInSlide {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  cursor:pointer;
  background: linear-gradient( yellow, #301934, #00ffff);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: gradientShift 5s linear infinite; 
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.about {
  display:flex;
  justify-content: center;
  background: linear-gradient(135deg, #d2b48c, #004d4d);
}

.aboutme{
  padding:2%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:2%; 
}

.aboutme div {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
  border-radius: 10px; 
   background-color:rgb(26,24,24);
  margin-bottom: 20px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.aboutme div:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.image {
  max-width: 100%;
  height: auto;
  background-color: transparent;
  animation: moveUpDown 3s ease-in-out infinite; 
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-20px); 
  }
  100% {
    transform: translateY(0); 
  }
}

  .image button{
    font-size: 20px;
    margin-top: 2%;
    padding: 10px 20px;
    background: rgb(26, 24, 24);
    color: #008080;
    box-shadow: 4px 4px 8px goldenrod;
    border-radius: 8px;
    cursor: pointer;
  }

 .education{
  text-align: center;  
}

.education button{
  position:relative;
  top:10%; 
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin:20px auto;
  padding:20px;
  overflow: hidden;
  box-sizing: border-box;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skill-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(36, 32, 32); 
  border: 10px solid #d2b48c; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle span {
  position: absolute;
  font-size: 1.2rem;
  color: #f5deb3;
  font-weight: bold;
}

.circle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
  background-color: #008080; 
  transform: rotate(0deg);
}

.circle[data-percentage="100"]::before { 
  clip-path:none;
  transform: rotate(360deg); 
}

.circle[data-percentage="90"]::before {
 
  transform: rotate(324deg); 
}

.circle[data-percentage="75"]::before {
  transform: rotate(270deg); 
}




.projects {
  text-align: center;
  padding: 50px 20px;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  gap:1%;
}

.project-card {
  margin: 20px auto;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.project-card:hover {
  transform: perspective(500px) rotateX(8deg) rotateY(4deg);
  box-shadow: 0px 15px 25px goldenrod;
}

.project-card img{
  width:450px;
  height: 300px;
  background-color: transparent; 
}

.contact-info {
  display:flex;
  justify-content: center;
  align-content: center;
  gap:15%;
  margin:auto 20px;
}

input, textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #008080;
  background: transparent;
  color: white;
  border-radius: 5px;
}

form button{
   display: block;
   margin-left: 25%;
}

.glowing-btn {
  font-size: 20px;
  margin-top: 2%;
  padding: 10px 20px;
  background: transparent;
  color: #008080;
  border: 2px solid goldenrod;
  border-radius: 8px;
  cursor: pointer;
  animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
  0% { box-shadow: 0 0 5px goldenrod; }
  50% { box-shadow: 0 0 20px goldenrod; }
  100% { box-shadow: 0 0 5px goldenrod; }
}

h2{
  text-align: center;
  font-size: 2rem;
  color:#008080;
}

footer{
  background: linear-gradient(135deg, #d2b48c, #004d4d);
  color: #1a1818;
  text-align: center;
  font-size: 1rem;
}
/* For Medium Screens (1024px and below) */
@media(max-width: 1024px){
  .navbar {
    display: none;
  }
  .navbar-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px #008080;
    height: 60px;
    margin-left: 1%;
    ;
  }
  .menu {
    display: block;
  }
body,html{
  overflow-x: hidden;

}
  .hero{
    padding: 80px 20px;
    text-align: center;
  }

   .about {
    margin-bottom: 20%;
  } 

  .about .image img{
    width:100%;
    height:auto;
    max-width:none;
  }

  .projects{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    margin-top: 20px;
  }

   .contact-info{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-info form{
    margin-left:15%;
  } 
}


/* For Small Screens (480px and below) */
@media(max-width: 480px){
  .navbar{
    display:none;
  }
  .navbar-sect{
    padding: 0 10%;
  }
  .menu{
    display:block;
  }
body,html{
  font-size: 1rem;
  overflow-x:hidden;
}
  .hero {
    padding: 60px 20px;
    text-align: center;
  }

  .about{
    text-align:center;

    
  }
  .about .image img{
    width:100%;
    height:auto;
  }
  .image{
    animation: none;

  }
  .aboutme {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
    padding: 10px; 
  }
  .aboutme div {
    margin: 0 auto; 
    width: 100%; 
    box-sizing: border-box; 
  }
  .education button {
    display: block; 
    width: 100%; 
    margin: 10px 0; 
    font-size: 1rem; 
    background-color: #008080; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }

  .education button:hover {
    background-color: #004d4d; 
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 10px; 
    justify-content: center;
  }

  .project-card {
    margin: 0 auto;
    width: 90%; 
    padding: 20px; 
    box-sizing: border-box; 
    background: linear-gradient(135deg, #004d4d, #d2b48c);
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }

  .project-card img {
    display: block; 
    width: 100%; 
    height: auto; 
    margin-bottom: 10px;
  } 
  .contact-info form{
    width: 100%;
    margin: 0 23%;
  }

  .skills{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:center;
    animation: none;
  }
  }

